<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Guia8.java.juanclavreo/src/fecha/ProgramaFecha.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fecha.ProgramaFecha"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Guia8.java.juanclavreo"/>
</launchConfiguration>
